#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  height: 80px;
  left:0;
  min-width: 500px;
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;
  right:0;
  top: 0;
  z-index: 2;
}

#nav-bar .compose {
  display: inline-block;
  right: 100px;
  min-width: 150px;
  padding: 10px 0;
  position: absolute;
  top: 0;
}

#nav-bar .compose a {
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid grey;
  color: grey;
  display: inline-block;
  font-size: 1.25em;
  line-height: 40px;
  padding: 10px 20px;
  text-decoration: none;
}

#nav-bar .compose a:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

#nav-bar .compose .fa {
  padding-right: 5px;
}

#nav-bar .compose.selected a {
  background-color: #E7FDFF;
  color: #229687;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  float: left;
  font-size: 2em;
  line-height: 80px;
  padding-left: 10px;
}