.new-tweet {
  background-color: #eee;
  border-radius: 5px;
  margin: 0 2em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  position: relative;
}

.new-tweet h2 {
  margin: 0;
  border-bottom: 1px solid black;
  margin-bottom: 1em;
}

.new-tweet textarea {
  width: 100%;
  padding: 0.25em;
}

.new-tweet .counter {
  bottom: 1em;
  position: absolute;
  right: 1em;
}

.new-tweet .counter.invalid {
  color: red;
}