#tweets-container {
  padding-bottom: 80px;
}

#tweets-container .tweet {
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 2em 2em;
  position: relative;
}

#tweets-container .tweet footer {
  border-top: 1px solid #bbb;
  font-size: 0.75em;
  padding: 10px 16px;
  position: relative;
}

#tweets-container .tweet header {
  background-color: #eee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  line-height: 40px;
  height: 70px;
  padding: 10px;
  position: relative;
}

#tweets-container .tweet .tweet-text {
  font-size: 1.25em;
  padding: 16px;
  overflow-wrap: break-word;
}

#tweets-container .tweet footer .actions {
  color: #66C6B7;
  display: none;
  position: absolute;
  right: 16px;
  bottom: 10px;
}

#tweets-container .tweet:hover footer .actions {
  display: inline-block;
}

#tweets-container .tweet footer .tweet-time {
  display: inline-block;
}

#tweets-container .tweet header .avatar {
  border-radius: 5px;
  display: inline-block;
  float: left;
  height: 50px;
  overflow: hidden;
  width: 50px;
}

#tweets-container .tweet header .twitter-handle {
  bottom: 20px;
  font-size: 1em;
  position: absolute;
  right: 16px;
}

#tweets-container .tweet header .user-name {
  bottom: 20px;
  font-size: 1.5em;
  font-weight: bold;
  left: 80px;
  margin: 0;
  position: absolute;
}

#tweets-container .tweet:hover footer .actions .fa {
  padding-left: 5px;
}

#tweets-container .tweet:hover footer .actions .selected.fa.fa-heart {
  color: red;
}

