.new-tweet {
  background-color: #eee;
  border-radius: 5px;
  display: none;
  margin: 0 2em;
  padding: 16px;
  position: relative;

  h2 {
    margin: 0;
    border-bottom: 1px solid black;
    margin-bottom: 1em;
  }

  textarea {
    width: 100%;
    padding: 0.25em;
  }

  .counter {
    bottom: 1em;
    position: absolute;
    right: 1em;

    &.invalid {
      color: red;
    }
  }

  .error {
    color: red;
  }
}